<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xenom.opticsmenu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_prism"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_prism"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
            <activity
                android:name=".UI.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.MainActivity" />
        <activity android:name=".Light.LightMenu" />
        <activity android:name=".Light.Refraction.Refraction_Background" />
        <activity android:name=".Light.Refraction.Snell_Quiz" />
        <activity android:name=".Light.Refraction.Snell_Interact" />
        <activity android:name=".Light.Refraction.RefractionMenu" />
        <activity android:name=".Light.Reflection.LawOfReflection"></activity>
    </application>

</manifest>